<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чертоги программиста</title>
    <link rel="icon" href="/images/alien.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/alien.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
</head>
<body>
<!-- vladmaxi top bar -->
<div class="vladmaxi-top">
    <a href="admin.html" target="_blank">Регистрация</a>
    <span class="right">
        <a href="http://vladmaxi.net/web-developer/css/22-luchshix-formy-vxoda-i-registracii-na-sajte-v-html-css.html">
                Вернуться назад к статье
            </a>
        </span>
    <div class="clr"></div>
</div>
<!--/ vladmaxi top bar -->

<div id="login">
    <form method="post" action="/addUserReg">
        <img id="alien" src="/images/alien.png">
            <p><span class="fontawesome-user"></span><input id="nickName" name="nickName" type="text" placeholder="Nick Name" maxlength="11"></p>
            <p><span class="fontawesome-user"></span><input id="email" name="email" type="text" placeholder="Email address"></p>
            <p><span class="fontawesome-lock"></span><input type="text" class="form-control" placeholder="Password" id="password" name="password"></p>
            <p><span class="fontawesome-lock"></span><input type="text" class="form-control" placeholder="Confirm password" id="passwordTwo" name="passwordTwo"></p>
            <p><input class="btn btn-primary" type="submit" value="Зарегистрироваться"></p>
            <i class="fa fa-coffee" aria-hidden="true"></i>
    </form>
    <p>Уже есть аккаунт?&nbsp;&nbsp;<a href="/login">Войти</a><span class="fontawesome-arrow-right"></span></p>
</div>
</body>
</html>